[mysqld]
basedir=/usr/local/mysql
datadir=/Users/javierpena/Desktop/Dev/Proyectos finalizados/Fainca_Group/.db_data/data
port=3307
bind-address=127.0.0.1
socket=/tmp/fainca_mysql.sock
mysqlx=0
innodb_undo_directory=/Users/javierpena/Desktop/Dev/Proyectos finalizados/Fainca_Group/.db_data/data
innodb_data_home_dir=/Users/javierpena/Desktop/Dev/Proyectos finalizados/Fainca_Group/.db_data/data
innodb_log_group_home_dir=/Users/javierpena/Desktop/Dev/Proyectos finalizados/Fainca_Group/.db_data/data
